<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{form.as_ul}}
    {{food_formset.management_form}}
    {% for fooditem_form in food_formset %}
        <div>
            <label>Name</label>
            {{ fooditem_form.food_name }}
            {% if fooditem_form.food_name.errors %}
                {% for error in fooditem_form.food_name.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

        </div>
        <div>
            <label>Quantity</label>
            {{ fooditem_form.food_quantity }}
            {% if fooditem_form.food_quantity.errors %}
                {% for error in fooditem_form.food_quantity.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</form>
</body>
</html>